@use "../../styles/functions" as *;

.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  border: none;
  outline: none;

  color: inherit;
  text-align: center;

  transition: all 0.5s ease;

  & > svg {
    transition: all 0.5s ease;
  }

  & > a {
    color: inherit;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

.catalog {
  color: var(--white);
  background-color: var(--white-10);
  padding: vw-1440(15) vw-1440(24);
  gap: vw-1440(16);

  border-radius: 1px;

  & > svg {
    transition: color 0.5s ease, background-color 0.5s ease;

    &:nth-child(1) {
      width: vw-1440(42);
      height: vw-1440(42);
    }

    &:nth-child(2) {
      width: vw-1440(12);
      height: vw-1440(12);
    }
  }

  &:hover {
    background-color: var(--white-20);
    & > svg {
      color: var(--color-blue);
    }
  }

  &:active {
    & > svg {
      color: var(--color-blue);
    }
  }

  &:focus-visible {
    & > svg {
      color: var(--color-blue);
    }
  }

  &:disabled {
    color: var(--white-50);
  }

  @media (max-width: 768px) {
    padding: 15px 24px;
    gap: 16px;
  }
}

.callback {
  color: var(--white);
  background-color: var(--white-10);
  padding: vw-1440(14) 0px;
  width: vw-1440(211);
  border-radius: vw-1440(32);

  &:hover {
    background-color: var(--white-20);
    font-weight: 700;
  }

  &:active {
    background-color: var(--white-20);
  }

  &:focus-visible {
    background-color: var(--white-20);
  }

  &:disabled {
    color: var(--white-50);
  }

  @media (max-width: 768px) {
    padding: 14px 30px;
    border-radius: 32px;
  }
}

.primary {
  color: var(--white);
  background-color: var(--color-blue);
  padding: vw-1440(17) vw-1440(28) vw-1440(17) vw-1440(20);
  border-radius: vw-1440(32);
  gap: vw-1440(5);

  &:hover {
    background-color: var(--color-red);
    box-shadow: 0px 0px 4px 0px var(--color-red);
  }

  &:active {
    background-color: var(--color-red);
  }

  &:focus-visible {
    background-color: var(--color-red);
  }

  &:disabled {
    background-color: var(--dark-grey);
    color: var(--white-50);
  }

  @media (max-width: 768px) {
    padding: 17px 28px 17px 20px;
    border-radius: 32px;
    gap: 5px;
  }
}

.secondary {
  color: var(--text);
  background-color: var(--white);
  padding: vw-1440(12) vw-1440(24);
  border-radius: vw-1440(32);
  border: 1px solid var(--grey);

  &:hover {
    color: var(--white);
    background-color: var(--color-blue);
    box-shadow: 0px 0px 4px 0px var(--color-blue);
    border: 1px solid transparent;
  }

  &:active {
    color: var(--white);
    background-color: var(--color-blue);
    border: 1px solid transparent;
  }

  &:focus-visible {
    color: var(--white);
    background-color: var(--color-blue);
    border: 1px solid transparent;
  }

  &:disabled {
    background-color: transparent;
    color: var(--white-50);
  }

  @media (max-width: 768px) {
    padding: 12px 24px;
    border-radius: 32px;
  }
}

.search {
  color: var(--white);
  background-color: var(--color-blue);
  padding: vw-1440(12) 0px;
  border-radius: vw-1440(32);
  gap: vw-1440(5);
  width: vw-1440(161);

  &:hover {
    font-weight: 700;
    background-color: var(--color-red);
  }

  &:active {
    background-color: var(--color-red);
  }

  &:focus-visible {
    background-color: var(--color-red);
  }

  &:disabled {
    color: var(--white-50);
    background-color: var(--dark-grey);
  }

  @media (max-width: 768px) {
    padding: 12px 0px;
    border-radius: 32px;
    gap: 5px;
    width: 161px;
  }
}

.default {
  color: var(--white);
  background-color: var(--color-red);
  padding: vw-1440(12) 0px;
  border-radius: vw-1440(32);
  width: vw-1440(266);

  &:hover {
    background-color: var(--color-blue);
    box-shadow: 0px 0px 4px 0px var(--color-blue);
  }

  &:active {
    background-color: var(--color-blue);
  }

  &:focus-visible {
    background-color: var(--color-blue);
  }

  &:disabled {
    color: var(--white-50);
    background-color: var(--dark-grey);
  }

  @media (max-width: 768px) {
    padding: 12px 0px;
    border-radius: 32px;
    width: 266px;
  }
}

.filter {
  color: var(--white);
  background-color: var(--color-blue);
  padding: vw-1440(12) vw-1440(19);
  border-radius: vw-1440(32);
  gap: vw-1440(5);

  &:hover {
    background-color: var(--color-red);
    box-shadow: 0px 0px 4px 0px var(--color-red);
  }

  &:active {
    background-color: var(--color-red);
  }

  &:focus-visible {
    background-color: var(--color-red);
  }

  &:disabled {
    color: var(--white-50);
    background-color: var(--dark-grey);
  }

  @media (max-width: 768px) {
    padding: 12px 19px;
    border-radius: 32px;
    gap: 5px;
  }
}

.link_1 {
  color: var(--dark-grey);
  text-decoration: underline;

  &:hover {
    color: var(--color-red);
  }

  &:active {
    color: var(--color-blue);
  }

  &:focus-visible {
    color: var(--color-blue);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.link_2 {
  gap: vw-1440(5);
  color: var(--white);

  &:hover {
    & > svg {
      color: var(--color-red);
    }
  }

  &:active {
    & > svg {
      color: var(--color-blue);
    }
  }

  &:focus-visible {
    & > svg {
      color: var(--color-blue);
    }
  }

  &:disabled {
    opacity: 0.5;
  }
  @media (max-width: 768px) {
    gap: 5px;
  }
}

.link_3 {
  color: var(--text);
  text-decoration: underline;
  gap: vw-1440(5);
  & > svg {
    color: var(--color-blue);
  }

  &:hover {
    color: var(--color-red);
    & > svg {
      color: var(--color-red);
    }
  }

  &:active {
    color: var(--color-blue);
    & > svg {
      color: var(--color-blue);
    }
  }

  &:focus-visible {
    color: var(--color-blue);
    & > svg {
      color: var(--color-blue);
    }
  }

  &:disabled {
    color: var(--text);
    & > svg {
      color: var(--text);
    }
    opacity: 0.5;
  }
}

.cart {
  width: vw-1440(160);
  height: vw-1440(160);

  flex-direction: column;
  gap: vw-1440(8);

  color: var(--dark-grey);
  background-color: var(--white);
  padding: vw-1440(21) vw-1440(16);
  border-radius: 50%;

  box-shadow: 0px 13px 29px 0px #1b1f1f1a;

  &:hover {
    & > svg {
      color: var(--color-red);
    }
  }

  @media (max-width: 768px) {
    width: 130px;
    height: 130px;
    gap: 8px;
    padding: 21px 16px;
  }
}

.nav_1 {
  & > svg {
    color: var(--white);
  }
  width: vw-1440(56);
  height: vw-1440(56);
  border-radius: 50%;
  border: 1px solid var(--white-20);

  &:hover {
    background-color: var(--color-red);
  }

  &:active {
    background-color: var(--color-blue);
  }

  &:focus-visible {
    background-color: var(--color-blue);
  }

  &:disabled {
    & > svg {
      color: var(--grey);
    }
    background-color: var(--white-5);
  }

  @media (max-width: 768px) {
    width: 56px;
    height: 56px;
  }
}

.nav_2 {
  & > svg {
    color: var(--color-red);
  }
  width: vw-1440(56);
  height: vw-1440(56);
  border-radius: 50%;
  border: 1px solid var(--white-20);

  &:hover {
    & > svg {
      color: var(--color-blue);
    }
    border-color: var(--white);
  }

  &:active {
    & > svg {
      color: var(--color-blue);
    }
  }

  &:focus-visible {
    & > svg {
      color: var(--color-blue);
    }
  }

  &:disabled {
    & > svg {
      color: var(--grey);
    }
  }

  @media (max-width: 768px) {
    width: 56px;
    height: 56px;
  }
}

.nav_3 {
  & > svg {
    color: var(--color-red);
  }
  width: vw-1440(56);
  height: vw-1440(56);
  border-radius: 50%;
  border: 1px solid var(--white);

  &:hover {
    & > svg {
      color: var(--white);
    }
    border-color: var(--color-blue);
    background-color: var(--color-blue);
  }

  &:active {
    & > svg {
      color: var(--color-blue);
    }
    border-color: var(--color-blue);
  }

  &:focus-visible {
    & > svg {
      color: var(--color-blue);
    }
    border-color: var(--color-blue);
  }

  &:disabled {
    & > svg {
      color: var(--grey);
    }
  }

  @media (max-width: 768px) {
    width: 56px;
    height: 56px;
  }
}

.mobile_nav {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: var(--white-10);

  & > svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    color: var(--color-blue);
  }

  &:active {
    color: var(--color-blue);
  }

  &:focus-visible {
    color: var(--color-blue);
  }

  &:disabled {
    pointer-events: none;
  }
}
.fullWidth {
  width: 100%;
}
