@use "../../shared/styles/functions" as *;

.container {
  display: flex;
  gap: vw-1440(24);
  padding: vw-1440(36);

  border: 1px solid var(--grey);
  border-radius: vw-1440(12);
  width: vw-1440(1296);

  &:hover {
    box-shadow: 0px 13px 29px 0px #1b1f1f1a;
  }
}

.imageContainer {
  position: relative;
  width: vw-1440(242);
  height: vw-1440(328);

  flex-shrink: 0;

  overflow: hidden;
  border: 1px solid var(--grey);
  border-radius: vw-1440(8);

  & > img {
    object-fit: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: vw-1440(16);

  & > .date {
    color: var(--white);
    border-radius: vw-1440(32);
    padding: vw-1440(8) vw-1440(16);
    background-color: var(--color-red);
  }

  & > .text {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: vw-1440(8);
  }
}
