.container {
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
}

.info {
  display: flex;
  justify-content: center;
  gap: 115px;
  background-color: var(--text);
  padding: 11px 20px;

  border-bottom: 1px solid #ffffff1a;
}

.mail {
  display: flex;
  align-items: center;
  gap: 6px;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 10;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  padding-top: 8px;
  padding-bottom: 8px;

  transition: background-color 0.3s ease;
  background: transparent;

  &.scrolled {
    background-color: var(--text);
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
}
