@use "../../shared/styles/functions" as *;

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  gap: vw-1440(24);

  margin-top: vw-1440(24);
  margin-bottom: vw-1440(36);

  & > p:first-child {
    width: vw-1440(746);
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  & > p:last-child {
    width: vw-1440(526);
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  @media screen {
    flex-direction: column;
    gap: 16px;

    margin-top: 16px;
    margin-bottom: 32px;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: vw-1440(400);

  border-radius: vw-1440(12);
  overflow: hidden;

  & > img {
    object-fit: cover;
  }

  @media (max-width: 768px) {
    height: 234px;
    border-radius: 12px;
  }
}
