:root {
  // accent
  --color-red: #d71920;
  --color-blue: #008f86;
  --color-green: #008f0e;
  --color-orange: #ec7e00b2;

  // main
  --white: #ffffff;
  --light-grey: #fbfbfb;
  --grey: #eaeaea;
  --dark-grey: #555759;
  --text: #191f1f;
}
