:root {
  // accent
  --color-red: #d71920;
  --color-blue: #008f86;
  --color-green: #008f0e;
  --color-green-70: #008f0eb2;
  --color-orange: #ec7e00b2;

  // main
  --white: #ffffff;
  --white-5: #ffffff0d;
  --white-10: #ffffff1a;
  --white-20: #ffffff33;
  --white-50: #ffffff80;
  --light-grey: #fbfbfb;
  --grey: #eaeaea;
  --dark-grey: #555759;
  --dark-grey-70: #555759b2;
  --text: #191f1f;
  --text-30: #191f1f53;
}
