@use "./functions" as *;

.h1 {
  font-family: "Neutral Face", sans-serif;
  font-weight: 400;
  font-size: vw-1440(60);
  line-height: 150%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
  }
}

.h1_news {
  font-family: "Neutral Face", sans-serif;
  font-weight: 400;
  font-size: vw-1440(54);
  line-height: 150%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
  }
}

.h1_item {
  font-family: "Neutral Face", sans-serif;
  font-weight: 400;
  font-size: vw-1440(52);
  line-height: 150%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
  }
}

.h2 {
  font-family: "Neutral Face", sans-serif;
  font-weight: 400;
  font-size: vw-1440(50);
  line-height: 150%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
  }
}

.h3 {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: vw-1440(22);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
  }
}

.h4 {
  font-family: "Neutral Face", sans-serif;
  font-weight: 400;
  font-size: vw-1440(20);
  line-height: 130%;
  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
}

.h5 {
  font-family: "Neutral Face", sans-serif;
  font-weight: 400;
  font-size: vw-1440(17);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
  }
}

.body_1 {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: vw-1440(26);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
  }
}

.body_2 {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: vw-1440(20);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
  }
}

.body_3 {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: vw-1440(19);
  line-height: 130%;

  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
  }
}

.body_4 {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: vw-1440(18);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
  }
}

.body_5 {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: vw-1440(16);
  line-height: 130%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
  }
}

.body_6 {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: vw-1440(14);
  line-height: 120%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 13px;
    line-height: 120%;
  }
}

.button {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: vw-1440(16);
  line-height: 120%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
}

.button_small {
  font-family: "Neutral Face", sans-serif;
  font-weight: 400;
  font-size: vw-1440(14);
  line-height: 100%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
  }
}

.fields {
  font-family: var(--font-manrope);
  font-weight: 300;
  font-size: vw-1440(16);
  line-height: 130%;

  @media (max-width: 768px) {
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;
  }
}

.header {
  font-family: "Neutral Face", sans-serif;
  font-weight: 400;
  font-size: vw-1440(16);
  line-height: 100%;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }
}

.price {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: vw-1440(16);
  line-height: 140%;

  @media (max-width: 768px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
  }
}

.required {
  &::after {
    content: "*";
    color: var(--color-red);
  }
}
