@use "../../../shared/styles/functions" as *;

.rootClass {
  position: relative;
  padding: vw-1440(12) vw-1440(24);
  border-radius: vw-1440(32);

  display: flex;
  flex-direction: column;
  gap: vw-1440(8);

  width: vw-1440(353);
  margin: 0 auto;

  &.success {
    background-color: var(--color-green);
  }

  &.error {
    background-color: var(--color-red);
  }

  .title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: vw-1440(8);

    & > svg {
      width: vw-1440(32);
      height: vw-1440(32);

      @media (max-width: 768px) {
        width: 32px;
        height: 32px;
      }
    }

    @media (max-width: 768px) {
      gap: 8px;
    }
  }

  .title,
  .message {
    color: var(--white);
  }

  @media (max-width: 768px) {
    width: 292px;
    padding: 8px 24px;

    border-radius: 32px;
    gap: 8px;
  }
}
