@use "../../shared/styles/functions" as *;

.container {
  display: grid;
  grid-template-columns: repeat(3, vw-1440(416));
  gap: vw-1440(24);

  flex-shrink: 0;

  @media (max-width: 768px) {
    width: 336px;
    display: flex;
    gap: 24px;

    overflow-x: auto;
  }
}

.card {
  display: flex;
  gap: vw-1440(16);

  color: var(--text);
  border: 1px solid var(--grey);
  border-radius: vw-1440(12);
  background-color: var(--white);

  padding: vw-1440(16) vw-1440(20) vw-1440(19);

  flex-shrink: 0;

  & > .imageContainer {
    position: relative;

    width: vw-1440(116);
    height: vw-1440(116);

    flex-shrink: 0;
    & > img {
      object-fit: contain;
    }

    @media (max-width: 768px) {
      width: 78px;
      height: 78px;
    }
  }

  & > .content {
    display: flex;
    flex-direction: column;
    gap: vw-1440(12);
    & > ul {
      list-style-position: inside;
    }

    @media (max-width: 768px) {
      gap: 12px;
    }
  }

  &:hover {
    color: var(--text);

    cursor: pointer;
    box-shadow: 0px 13px 29px 0px #1b1f1f1a;
  }

  @media (max-width: 768px) {
    width: 270px;
    height: 189px;
    gap: 16px;
    border-radius: 12px;
    padding: 16px 20px;
  }
}
