@use "../../styles/functions" as *;

.container {
  display: flex;
  flex-direction: column;

  gap: vw-1440(12);
  @media (max-width: 768px) {
    gap: 10px;
  }
}

.textarea {
  width: 100%;
  padding: vw-1440(15) vw-1440(24);

  color: var(--text);

  background-color: var(--white);
  border-radius: vw-1440(32);
  outline: 1px solid #1114341a;
  border: none;
  resize: none;

  transition: color 0.3s ease, outline 0.3s ease;

  &::-webkit-scrollbar {
    width: 6px;
    background: var(--color-blue);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    flex: 1;
    background: var(--grey);
    border-radius: 3px;

    &:hover {
      background: var(--text);
      cursor: pointer;
    }
  }

  &::placeholder {
    color: var(--text);
    opacity: 0.7;
  }

  &:hover {
    outline: 1px solid var(--color-blue);
  }

  &:focus {
    color: var(--text);
    outline: 1px solid var(--color-blue);
  }

  &:active {
    color: var(--text);
    outline: 1px solid var(--color-blue);
  }

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.3;
  }

  &.error {
    color: var(--color-red);
    outline: 1px solid var(--color-red);

    &::placeholder {
      color: var(--color-red);
    }
  }

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.label {
  color: var(--text);
}

.errorMessage {
  color: var(--color-red);
}
