@use "../../shared/styles/functions" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1440(36);

  width: 100%;

  @media (max-width: 768px) {
    width: 336px;
    gap: 24px;
  }
}

.imageContainer {
  position: relative;

  width: 100%;
  height: vw-1440(1151);

  & > img {
    object-fit: contain;
  }

  @media (max-width: 768px) {
    height: 298px;
  }
}
