@use "../../styles/functions" as *;

.container {
  width: vw-1440(1296);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: vw-1440(8);
  z-index: 1;

  @media (max-width: 768px) {
    gap: 6px;
    max-width: 336px;
    width: 100%;
    flex-wrap: wrap;
  }
}

.elem {
  display: flex;
  align-items: center;
  gap: vw-1440(8);
  color: var(--white);

  & > span {
    color: var(--color-blue);
  }

  @media (max-width: 768px) {
    gap: 6px;
  }
}

.lastItem {
  pointer-events: none;
}
