@use "../../shared/styles/functions" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1440(42);
  width: vw-1440(1296);
}
.content {
  display: flex;
  gap: vw-1440(134);
}
.elem {
  width: vw-1440(526);

  display: flex;
  flex-direction: column;
  gap: vw-1440(20);

  & > h4 {
    border-bottom: 1px solid var(--color-blue);
  }
}
