@use "../../shared/styles/functions" as *;

.wrapper {
  width: 100%;
  height: vw-1440(72);
  border-top: 1px solid var(--white-20);
  border-bottom: 1px solid var(--white-20);

  position: absolute;
  top: 154px;
  z-index: 10;
}

.container {
  margin: 0 auto;
  width: vw-1440(1584);
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: vw-1440(42);

  margin-left: vw-1440(47);
  margin-right: vw-1440(44);

  height: 100%;

  & > a {
    display: flex;
    align-items: center;
    position: relative;
    color: var(--white);
    height: 100%;

    &:hover {
      color: var(--color-blue);
    }

    &.active {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: vw-1440(4);
        background-color: var(--color-red);
        border-radius: vw-1440(6) vw-1440(6) 0 0;
      }
    }
  }
}
