@use "../../shared/styles/functions" as *;

.container {
  display: flex;
  gap: vw-1440(48);

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24px;
    width: 336px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: vw-1440(24);
  align-items: start;
  width: vw-1440(526);

  & > button {
    width: vw-1440(243);
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    gap: 16px;
    width: 100%;
  }
}

.cardsContainer {
  position: relative;
  width: vw-1440(722);
  height: vw-1440(194);
  border-radius: vw-1440(12);
  overflow: hidden;

  padding: vw-1440(24) vw-1440(27);

  display: grid;
  grid-template-columns: repeat(3, vw-1440(214));
  gap: vw-1440(16);

  & > img {
    object-fit: cover;
    z-index: -1;
  }

  & > .card {
    background-color: var(--white);
    border-radius: vw-1440(8);
    padding: vw-1440(10) vw-1440(12);

    & > h2 {
      color: var(--color-blue);
    }

    @media (max-width: 768px) {
      border-radius: 8px;
      padding: 16px;
    }
  }

  @media (max-width: 768px) {
    width: 336px;
    height: 437px;
    border-radius: 12px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
  }
}
