@use "../../shared/styles/functions" as *;

.container {
  position: absolute;
  top: vw-1440(50);
  left: 0;

  display: flex;
  flex-direction: column;
  gap: vw-1440(20);

  padding: vw-1440(24);
  width: vw-1440(555);
  max-height: vw-1440(608);
  border: 1px solid var(--grey);
  border-radius: vw-1440(12);

  overflow: auto;
  background-color: var(--white);
}
