@use "../../shared/styles/functions" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1440(16);

  @media (max-width: 768px) {
    gap: 20px;
  }
}

.bigImage {
  position: relative;

  width: vw-1440(416);
  height: vw-1440(416);
  border-radius: vw-1440(12);
  overflow: hidden;

  & > img {
    object-fit: cover;
  }

  & > span {
    position: absolute;
    top: vw-1440(16);
    left: vw-1440(16);

    color: var(--white);
    padding: vw-1440(8) vw-1440(16);
    border-radius: vw-1440(32);
    background-color: var(--color-red);

    @media (max-width: 768px) {
      top: 16px;
      left: 16px;
      padding: 8px 16px;
      border-radius: 32px;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 336px;
    border-radius: 12px;
  }
}

.smallImageContainer {
  display: flex;
  gap: vw-1440(16);

  width: vw-1440(416);

  overflow: auto;
  padding-bottom: vw-1440(8);

  &::-webkit-scrollbar {
    height: vw-1440(7);
    @media (max-width: 768px) {
      height: 5px;
    }
  }

  @media (max-width: 768px) {
    gap: 16px;
    width: 100%;
  }
}

.smallImage {
  position: relative;

  width: vw-1440(96);
  height: vw-1440(96);
  border-radius: vw-1440(12);
  overflow: hidden;

  flex-shrink: 0;

  & > img {
    object-fit: cover;
  }

  @media (max-width: 768px) {
    width: 96px;
    height: 96px;
    border-radius: 12px;
  }
}
